<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<form action="/board/save" method="post">
    <input type="text" placeholder="작성자" name="board_writer"><br>
    <input type="text" placeholder="제목" name="board_title"><br>
    <input type="text" placeholder="비밀번호" name="board_pass"><br>
    <textarea placeholder="내용" name="board_contents" rows="10" cols="50"></textarea>
    <input type="submit" value="작성하기">
</form>
<div th:replace="component/footer :: footer"></div>
</body>
</html>