<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
    <table class="table table-hover">
        <tr>
            <th>id</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="${board.board_title}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${board.board_writer}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${board.board_contents}"></td>
        </tr>
        <tr>
            <th>조회수</th>
            <td th:text="${board.board_hits}"></td>
        </tr>
        <tr th:if="${board.fileAttached == 1}">
            <th>이미지</th>
            <td>
                <img th:src="@{|/upload/${board.storedFileName}}" width="200" height="200" alt="">
            </td>

        </tr>
    </table><br>

    <div class="btn btn-outline-light">
        <button onclick="board_list()">목록</button>
        <button onclick="board('update')">수정</button>
        <button onclick="board('delete')">삭제</button>

    </div>
    <div id="pass-check">

    </div>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
<script>
    const board_list = () => {
        location.href = "/board/";

    }
    const board = (type) => {
        console.log("type", type);
        document.getElementById("pass-check").innerHTML = "<input type=\"text\" placeholder=\"password\" id=\"password\">" +
            "<button onclick=\"pass_check('" + type + "')\">확인</button>";
    };

    // const board_delete = () => {
    //     document.getElementById("pass-check").innerHTML = "<input type=\"text\" placeholder=\"password\" id=\"password\">" +
    //         "<button onclick=\"delete_pass_check()\">확인</button>";
    // };

    const pass_check = (type) => {
        console.log("type", type);
        const password = document.getElementById("password").value;
        const passDB = [[${board.board_pass}]];
        const id = [[${board.id}]];
        if (password == passDB) {
            if (type == "update") {
                location.href = "/board/update/" + id;
            } else if (type == "delete") {
                // location.href = "/board/delete/" + id;
                axios({
                    method: "delete",
                    url: "/board/" + id
                }).then(res => {
                    location.href = "/board/";
                }).catch(err => {
                    alert("삭제에 실패하셨습니다");
                })
            } else {
                alert("비밀번호를 확인해주세요");
            }
        } else {
            alert("비밀번호를 확인해주세요");
        }
    }
    // const delete_pass_check = () => {
    //     const password = document.getElementById("password").value;
    //     const passDB = [[${board.board_pass}]];
    //     const id = [[${board.id}]];
    //     if(password==passDB){
    //         location.href="/board/delete/"+id;
    //         axios({
    //             method:"delete",
    //             url:"/board/"+id
    //         }).then(res=>{
    //             location.href="/board/";
    //         }).catch(err=>{
    //             alert("삭제에 실패하셨습니다");
    //         })
    //     }else {
    //         alert("비밀번호를 확인해주세요");
    //     }
    //
    // }


</script>
</html>