<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="component/config :: config"></th:block>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
  <table class="table table-danger">
    <tr>
      <th>id</th>
      <td th:text="${board.id}"></td>
    </tr>
    <tr>
      <th>제목</th>
      <td th:text="${board.board_title}"></td>
    </tr>
    <tr>
      <th>작성자</th>
      <td th:text="${board.board_writer}"></td>
    </tr>
    <tr>
      <th>내용</th>
      <td th:text="${board.board_contents}"></td>
    </tr>
    <tr>
      <th>조회수</th>
      <td th:text="${board.board_hits}"></td>
    </tr>
  </table>
</div>
<div th:replace="component/footer :: footer"></div>

</body>
</html>